*.sh text eol=lf
*.prop text eol=lf
*.md text eol=lf

# Exclude documentation and archive binaries from git archive zip builds
README.md export-ignore
.gitignore export-ignore
.gitattributes export-ignore
SweetClocker*.zip export-ignore
.github/ export-ignore
